<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>htmx zig</title>
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
	<script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
	<script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>

<body>
	<h1>ChatZX</h1>

	<button hx-get="/online" hx-target="#online-here" hx-trigger="click" data-bs-toggle="modal"
		data-bs-target="#online-here" class="btn btn-secondary">
		Online Users
	</button>

	<div id="online-here" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content"></div>
		</div>
	</div>

	<h2>Chat Room</h2>
	<div hx-ext="ws" ws-connect="/chat">
		<div id="notifications" hx-ext="remove-me"></div>
		<div id="chat-message" hx-swap="beforeend" hx-swap-oob="beforeend" class="col"></div>
		<form id="chat-form" hx-on::ws-after-send="this.reset()" ws-send> 
			<input id="chat-input" name="chat-input"/>
			<button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>

	<br />
	
	<button hx-get="/settings" hx-target="#settings-here" hx-trigger="click" data-bs-toggle="modal"
		data-bs-target="#settings-here" class="btn btn-secondary">
		Settings
	</button>

	<div id="settings-here" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content"></div>
		</div>
	</div>

	<button hx-get="/click">Click Me</button>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
</body>

</html>